$white: #fff;
$grey-1: #f3f4f8;
$grey-2: #c3c3c3;
$black: #343434;
$red: tomato;
$blue: #546de5;
$blue-hover: #778beb;

$purple: #574b90;
$purple-hover: #786fa6;

$gradient: linear-gradient(#9796f0 0%, #fbc7d4 100%);

$shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
